<main class="headerComponent" *ngIf="user">
    <mat-toolbar>
        <img src="./assets/images/png/logo.png" alt="">
        <div *ngIf="params$ | async as params " class="header-params">
          <div *ngFor="let param of params">
            <span>{{param.label}}</span><span *ngIf="param.value">: {{param.value}}</span>
          </div>
        </div>
        <span class="example-spacer"></span>
        <span >{{ user.x_name }}</span>
        <button mat-icon-button class="icon-logout" aria-label="Icon for exit this app" (click)="logOut()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
</main>