.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar{
      background-color: #12083C;
      padding: 0 5%;
      .header-params{
          text-align: center;
          width: 100%;
      }
  }
  .variables{
      margin-left: 100px;
  }


  span{
    color: white;
  }
.mat-icon{
  color: white;
  transition: transform 0.3s ease; // Transición para la propiedad transform

  &:hover {
    transform: translateX(5px); // Desplazamiento hacia la derecha en 5px al pasar el ratón
  }
}

img:hover{
  cursor: pointer;
}
