h2 {
  text-align: center;
}

mat-dialog-content {
  height: 500px;
  margin: 0 auto;
  text-align: center;
  line-height: 400px;

  img {
    width: 100%;
    vertical-align: middle
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}
